

.text-container {
    max-width: 1050px;
    margin: auto;
    font-family: 'Droid Sans';
    font-size: 2.2rem;
}




.pre-format {
    font-size: 2rem;
    margin: 1rem
}

.spacing {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.pic-right-align {
    text-align:right;
    transform:scale(1.0);
}

.intro-align {
    font-family: 'Droid Sans';
    font-size: 2.2rem;
    margin-top: 5rem;
}

h1.heading-font#heading-size {
    font-family: 'Droid Sans', sans-serif;

    font-size: 8rem;
    margin-bottom: 0rem;
    margin-top: 6.5rem;
    left: -2.45em;
    text-align: center;

}

.body {
    font-family: 'Droid Sans';
    font-size: 2.2rem;
    margin-top: 5rem;
}

.new-jumbotron {
    background-color: #111;
    color: #ddd;
    padding-top: 0.1rem;
    padding-bottom: 0rem;
    margin-bottom: 0.1rem;
}
